<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
            <small>and things I have worked with till date.</small>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn skills col-lg-6 col-lg-offset-3">
            {% for skill in site.data.index.skills.aspects %}
                <span class="badge badge-pill badge-primary">{{skill}}</span>
            {% endfor %}
        </div>
    </div>
</div>
