<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% elsif site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">

    <!-- Main CSS -->
    <link href="{{ "/static/assets/app-20180125.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Main Scripts -->
    <script async src="{{ "/static/assets/app-20180125.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/static/assets/blog-20180125.min.js" | prepend: site.baseurl }}"></script>

    {% if site.ga and site.ga.tag_manager_id %}
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0];
        var j = d.createElement(s);
        var dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{ site.ga.tag_manager_id }}');
    </script>
    {% endif %}

</head>
