---

--- 

@import "search";
@import "pygments";
@import "open_sans";
@import "roboto";
@import "style";



.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background: white;
}

.landing-page .navbar-default .nav li a {
    color: #3385FF;
    background: white;
}

.landing-page .navbar-default .navbar-nav>.active>a {
    color: #3385FF;
    background: white;
}

.badge {
	display: inline-block;
    	min-width: 10px;
    	margin: 10px;
    	padding: 15px 20px;
    	font-size: 13px;
   	font-weight: 700;
    	line-height: 1;
    	color: #fff;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: middle;
    	background-color: #3385ff;
    	border-radius: 50px 50px;
	
}

.skills {
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
}