---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    {% assign is_homepage = false %}
    {% if page.url == '/' or page.permalink == '/' %}
        {% assign is_homepage = true %}
    {% endif %}
    {% if is_homepage %}
        {% include index_head.html %}
    {% else %}
        {% include head.html %}
    {% endif %}

<body id="page-top" class="landing-page">

    {% if site.ga and site.ga.tag_manager_id %}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.ga.tag_manager_id }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    {% endif %}

    {% unless is_homepage %}
        {% include blog_header.html %}
    {% endunless %}

    {{ content }}

    {% if is_homepage %}
        {% include index_foot.html %}
    {% else %}
        {% include foot.html %}
    {% endif %}

</body>
</html>
